@media (max-width: 768px){
   .header__contacts {
      margin-top: 50px;
      margin-bottom: 10px;
   }
   .header{
      text-align: center;
   }
}
@media (max-width: 700px){
   .header__top{
      /* display: inline-block; */
      
   }
   .phone, .mail{
      font-size: 18px;
   }
   img{
      width: 200px;
   }
   .header__btn::before{
      right: 160px;
   }
   .main__inner{
      padding-top: 30px;
   }
   .main__title, .contacts__title{
      font-size: 36px;
   }
   .main__sub-title{
      font-size: 20px;
   }
   .main__btn{
      margin-bottom: 50px;
      font-size: 14px;
      padding: 5px 35px;
   }
   .contacts{
      padding: 0 10px;
   }
   .contacts__text{
      font-size: 18px;
      padding: 0;
      padding-bottom: 50px;
   }
   .partners{
      display: none;
   }
}
@media (max-width: 525px){
   .header__top{
      display: inline-block;
   }
   .header__btn{
      font-size: 18px;
   }
}
@media (max-width: 400px){
   .header__top{
      /* padding-left: 60px; */
   }
   .contacts__title{
      font-size: 28px;
   }
   .main__btn{
      font-size: 12px;
   }
   img{
      width: 250px;
   }
   .mail, .phone{
      font-size: 18px;
   }
   /* .header__btn{
      margin-right: 0;
   } */
   .main__title{
      font-size: 24px;
   }
   .main__sub-title{
      font-size: 12px;
   }
   .pop__phone, .pop__mail{
      font-size: 18px;
   }
}
/* @media (max-width: 320px){
   .header__top{
      padding: 0 25px;
   }
} */