@media (max-width: 1200px) {
  .slick-dots button {
    width: 180px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .header__top {
    max-height: 95px;
  }

  .logo-head img {
    width: 150px;
    height: 94px;
  }
  .icons_head img {
    width: 31px;
    height: 31px;
    border-radius: 15.5px;
  }
  .header__btn a {
    width: 150px;
    height: 37.5px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding: 8px 0;
  }

  .title {
    display: flex;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.1em;
    color: #000;
    position: relative;
  }
  .item-1 .text {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    top: -20px;
  }
  .text {
    position: relative;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    top: -20px;
    color: #000;
  }
  .text span {
    color: #e81415;
    font-weight: 700;
    font-size: 20px;
  }
  .item-3 > .text span {
    color: #000;

    font-size: 20px;
    padding-left: 5px;
  }
  /* .item-4 {
    overflow-y: scroll;
  } */


  .item-btn a {
    width: 343px;
    height: 31px;
    border-radius: 25px;
    background-color: #e81415;
    padding: 12px 50px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    text-align: center;
    outline: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }
  .slick-dots button {
    width: 120px;
    height: 25px;
  }
  .form__title {
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .form__box {
    display: block;
    position: relative;
    align-items: center;
    width: 200px;
    margin: 0 auto;
  }
  .form__box input {
    margin-bottom: 30px;
    padding: 0 20px;
    width: 200px;
    height: 33.33px;
  }

  .form__box label {
    font-size: 14px;
    line-height: 18px;
    text-shadow: rgba(0, 0, 0, 0.5);
  }

  .form-btn {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 50px;
    background: #e81415;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .footer__logo a img {
    /* margin: 30px 0; */
    /* width: 100px; */
  }
  .footer__title {
    color: #fff;
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    margin: 0 45px;
  }
  .ico_foot img {
    width: 10px;
  }
  .foot-tel,
  .foot-mail {
    position: relative;
    margin: 20px 0;
    font-size: 10px;
    line-height: 10px;
  }
  /* .slick-track {
    height: 100vh;
  } */
}

@media (max-width: 500px) {
  .header__top {
    max-height: 85px;
  }
  .logo-head img {
    width: 165px;
    height: 111px;
  }

  .icons_head,
  .header__btn {
    display: none;
  }
  .header__btn a {
    font-size: 14px;
    width: 135px;
    height: 34px;
    margin-top: 40px;
    margin-left: 60px;
  }
  .icons_head img {
    width: 35px;
    height: 35px;
    margin: 40px 3px;
  }

  .menu-btn {
    display: block;
    position: relative;
    margin-right: 50px;
    margin-top: 5px;
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 60%;
    margin-top: -1px;
    bottom: 0%;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: #e81415;
    transition-duration: 0.5s;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
  }
  .menu-btn span::before {
    transform: translateY(-15px);
  }
  .menu-btn span::after {
    transform: translateY(15px);
  }
  .menu-btn_active span:before,
  .menu-btn_active span::after {
    transform: scale(0.2);
    opacity: 0.1;
  }

  .menu-btn_active span {
    transform: scale(0.2);
    opacity: 0.1;
  }

  .title {
    font-size: 36px;
    line-height: 47px;
    margin-top: 0px;
    letter-spacing: 0.1em;
  }
  .item-1 .text {
    font-size: 14px;
    line-height: 18px;

    letter-spacing: 0.05em;
  }
  .text {
    font-size: 14px;
    line-height: 16px;

    letter-spacing: 0.05em;
  }
  .text span {
    font-size: 16px;
  }
  .item-3 > .text span {
    font-size: 16px;
    padding-left: 5px;
  }
  .item-btn a {
    width: 290px;
    height: 31px;
    border-radius: 25px;
    background-color: #e81415;
    padding: 12px 50px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  .container {
    padding: 0 5px;
  }
  .slick-dots button {
    width: 60px;
    height: 35px;
    border-radius: 13px 13px 0 0;
  }
  .header__mob {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    background-color: #fff;
    z-index: 20;
    position: relative;
    transform: translateY(-600px);
    transition-duration: 0.5s;
  }
  .main {
    margin-top: -100px;
  }
  .header__mob__active {
    /* transform: translateY(-111px); */
    transform: translateY(-90px);
    top: 0;
    opacity: 1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .header__mob .icons_head {
    display: block;
    width: 50%;
  }
  .header__mob .header__btn {
    display: block;
    width: 50%;
  }
  .mob-btn {
    display: flex;
    margin: 0 auto;
    width: 80px;
    height: 20px;
    border-radius: 0 0 10px 10px;
    color: #fff;
    background-color: #e81415;
    right: 0;
    left: 0;
    bottom: -20px;
    position: absolute;
    z-index: 40;
    padding-top: 5px;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  .mob-btn span,
  .mob-btn span::before,
  .mob-btn span::after {
    display: flex;
    margin: auto;
    position: absolute;
    top: 40%;
    width: 40px;
    height: 1px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    left: 0;
    right: 0;
  }
  .mob-btn span::before,
  .mob-btn span::after {
    content: "";
    display: block;
  }
  .mob-btn span::before {
    transform: translateY(-4px);
  }
  .mob-btn span::after {
    transform: translateY(4px);
  }
  .footer__logo a img {
    margin: 30px 0;
    width: 30px;
  }
  .footer {
    /* height: 70px; */
  }
  .footer__title {
    font-size: 4px;
    line-height: 5px;
  }
  .ico_foot img {
    width: 4px;
  }
  .foot-tel,
  .foot-mail {
    position: relative;
    /* margin: 20px 0; */
    font-size: 4px;
    line-height: 5px;
  }
}
